# Auto detect text files and perform LF normalization
* text=auto
“*.psd” filter=lfs diff=lfs merge=lfs -text
OpenGL.zip filter=lfs diff=lfs merge=lfs -text
temp/ filter=lfs diff=lfs merge=lfs -text
temp/Debug/ filter=lfs diff=lfs merge=lfs -text
  